div {
  text-align: center;
  width: 100%;
  background-color: blue;
  font-size: 30px;
  height: 40px;
  border-radius: 4px ;
  outline: none;
  border: none;

}

div {
  height: 40vmin;
  pointer-events: none;
}
